@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
    background-color: #00C7B6;
}

.main{
    position: relative;
    height: 500px;
    width: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.main .left-side{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}

.main .left-side img{
    width: 100%;
    height: 100%;
    /* filter: brightness(.9); */
}

.main .right-side{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    text-align: center;
    background-color: #FFFFFF;
}

.main .right-side h1{
    font-size: 30px;
    font-weight: 800;
    margin: 55px 0 40px;
}

form .form-group input[type="password"]{
    margin: 0 21px 10px 0;
    width: 250px;
    height: 40px;
    border-radius: 3px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    padding-left: 24px;
    font-size: 14px;
    letter-spacing: .5px;
}

form .form-group i{
    transform: translateX(25px);
}

form .form-group input[type="checkbox"]{
    margin: 0 0 30px -145px;
}

form .form-group label{
    color: #575757;
    font-size: 14px;
    font-weight: 500;
}

form button{
    cursor: pointer;
    background-color: #1A99EE;
    color: #F1F1F1;
    width: 274px;
    height: 45px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .5px;
    border: 1px solid #1A99EE;
    border-radius: 3px;
    transition: .4s;
}

form button:hover{
    background-color: #198EDB;
}

.login-with p{
    color: #575757;
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
}

.login-with i{
    cursor: pointer;
    color: #FFFFFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    margin: 10px 2px 0 0;
}

.login-with .fa-facebook-f{
    background-color: #3B5998;
}

.login-with .fa-instagram{
    background-color: #E1306C;
}

.login-with .fa-twitter{
    background-color: #1D9FF0;
}

@media (max-width: 810px){

    .main{
        width: 400px;
    }

    .main .right-side{
        width: 100%;
        background-color: #FFFFFFDC;
    }

    .main .left-side{
        width: 100%;
        filter: brightness(1);
    }

    form .form-group input[type="password"]{
        background-color: #D4D4D4;
        border: 1px solid #D4D4D4;
    }
}